
<div class="flex flex-col w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-hidden">

    <mat-drawer-container class="flex-auto sm:h-full bg-card">

        <!-- Drawer -->
        <mat-drawer
            class="w-full md:w-160 bgGrayColor dark:bg-gray-900"
            [autoFocus]="false"
            [mode]="drawerMode"
            [opened]="drawerOpened"
            [position]="'end'"
            #drawer>
            <!-- Header -->
            <div class="flex items-center justify-between m-8 mr-6 sm:my-10">
                <!-- Title -->
                <div  *ngIf="selectedBeneficiaries" class="text-3xl font-extrabold tracking-tight leading-none">
                    {{selectedBeneficiaries.userId | lowercase}}</div>
                <!-- Close button -->
                <div>
                    <button
                        *ngIf="selectedBeneficiaries"
                        class="-ml-4"
                        mat-button
                        [color]="'warn'"
                        (click)="blockSelectedAccount()">
                        Block Account
                    </button>
                </div>
            </div>
            <div class="flex-auto px-6 pt-9 pb-12 md:p-8 md:pb-12 lg:p-12">
            <!-- About me -->
           venu
            </div>
            
        </mat-drawer>
        <mat-drawer-content class="flex flex-col">
            <div class="flex flex-col px-6 pt-9 pb-12 md:p-8 md:pb-12 lg:p-12">

                <!-- Panel header -->
                <div class="flex  items-center justify-between">
                    <!-- Panel title -->
                    <div class="ml-2 lg:ml-0 text-3xl font-bold tracking-tight leading-none">
                        hello
                    </div>
                </div>
                <div class="w-full mt-8">
                    <div class="text-xl">Change your plan</div>
                    <div class="text-secondary">Upgrade or downgrade your current plan.</div>
                </div>
            
            </div>
            <div class="ml-4">
                <!-- Panel links -->
                <ng-container *ngFor="let panel of suppotMenu">
                    <div
                        class="flex px-8 py-5 cursor-pointer"
                        [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedPanel || selectedPanel !== panel.id,
                                    'bg-primary-50 dark:bg-hover': selectedPanel && selectedPanel === panel.id}"
                        (click)="goToPanel(panel.id)">
                        <mat-icon
                            [ngClass]="{'text-hint': !selectedPanel || selectedPanel !== panel.id,
                                        'text-primary dark:text-primary-500': selectedPanel && selectedPanel === panel.id}"
                            [svgIcon]="panel.icon"></mat-icon>
                        <div class="ml-3">
                            <div
                                class="font-medium leading-6"
                                [ngClass]="{'text-primary dark:text-primary-500': selectedPanel && selectedPanel === panel.id}">
                                {{panel.title}}
                            </div>
                            <div class="mt-0.5 text-secondary">
                                {{panel.description}}
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        
        </mat-drawer-content>
    </mat-drawer-container>

</div>
