<div class="w-full max-w-3xl">
    <div class="flex flex-col px-6 pt-9 pb-12 md:p-8 md:pb-12 lg:p-12">
        <div class="flex  items-center justify-between">
            <div class="ml-2 lg:ml-0 text-3xl font-bold tracking-tight leading-none">
                New Wallet
            </div>
            <div>
                <button mat-icon-button (click)="cancel.emit()">
                    <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>
        </div>
        <div class="text-secondary">Smart payouts, anytime, anywhere</div>
    </div>
    <div class="flex flex-col ml-6">
        <ng-container>
            <div class=" bank-card card-min-height">
                <div class="card-body">
                    <div class="background">
                        <!-- newWallet -->
                        <ng-container
                            *ngIf="createWalletForm.get('step2').value.color as selectedBG; else bgDefaultTemplate">
                            <img class="top-backround" [src]=walletDesign.background[selectedBG].img>
                        </ng-container>
                        <ng-template #bgDefaultTemplate>
                            <img class="top-backround" [src]=walletDesign.background[2].img>
                        </ng-template>
                        <ng-container
                            *ngIf="createWalletForm.get('step2').value.texture as selectedTexture; else textureDefaultTemplate">
                            <img class="top-backround-shadow" [src]=walletDesign.texture[selectedTexture].img>
                        </ng-container>
                        <ng-template #textureDefaultTemplate>
                            <img class="top-backround-shadow" [src]=walletDesign.texture[2].img>
                        </ng-template>
                        <div class="top-left">
                            <h2 class="white">{{createWalletForm.get('step1').value.walletName || 'Create Name'}}</h2>
                        </div>
                        <ng-container *ngIf="createWalletForm.get('step2').value.icons as selectedicons;">
                            <div class="top-right">
                                <img [src]=walletDesign.icon[selectedicons].img>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <form class="p-4 bg-card shadow rounded overflow-hidden" [formGroup]="createWalletForm">
        <mat-horizontal-stepper [linear]="true" #horizontalStepper>
            <mat-step [formGroupName]="'step1'" [stepControl]="createWalletForm.get('step1')" #horizontalStepperStep1>
                <ng-template matStepLabel>Wallet</ng-template>
                <p class="my-6 font-medium">
                    What would you like to name your wallet?
                </p>
                <div class="flex">
                    <mat-form-field class="flex-auto">
                        <input matInput [formControlName]="'walletName'" [placeholder]="'Wallet Name'" required>
                    </mat-form-field>
                </div>
                <div class="flex justify-end">
                    <button class="px-8" mat-flat-button [color]="'primary'"
                        [disabled]="horizontalStepperStep1.stepControl.invalid"
                        type="button" matStepperNext>
                        Next
                    </button>
                </div>
            </mat-step>

            <mat-step [formGroupName]="'step2'" [stepControl]="createWalletForm.get('step2')" #horizontalStepperStep2>
                <ng-template matStepLabel>Design</ng-template>
                <p class="my-6 font-medium">
                    Choose your favourite colours and patterns
                </p>
                <div class="flex flex-col p-6 gt-xs:flex-row">
                    <ng-container
                        *ngTemplateOutlet="designTemplate; context: {'title': 'Background', 'field': 'color', 'list' : walletDesign.background}">
                    </ng-container>
                    <ng-container
                        *ngTemplateOutlet="designTemplate; context: {'title': 'Texture', 'field': 'texture', 'list' : walletDesign.texture}">
                    </ng-container>
                    <ng-container
                        *ngTemplateOutlet="designTemplate; context: {'title': 'Icons', 'field': 'icons', 'list' : walletDesign.icon}">
                    </ng-container>
                    <!-- Design Template -->
                    <ng-template #designTemplate let-title="title" let-field="field" let-list="list">
                        <div class="text-secondary p-6">{{title}}</div>
                        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
                            <ng-container *ngFor="let item of list; let i=index trackBy: trackByFn">
                                <ng-container *ngIf="i !== 0">
                                    <div class="relative createWalletBGPtnHeight flex flex-col items-start justify-start rounded-md shadow cursor-pointer bg-card"
                                        [ngClass]="{'bg-gray-900' : field !== 'color','ring ring-inset ring-primary': createWalletForm.get('step2').get(field).value === item.value}"
                                        (click)="createWalletForm.get('step2').get(field).setValue(item.value);">
                                        <ng-container
                                            *ngIf="createWalletForm.get('step2').get(field).value === item.value">
                                            <mat-icon class="absolute top-0 right-0 mt-3 mr-3 icon-size-7 text-primary"
                                                [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                                        </ng-container>
                                        <img [ngStyle]="{'width': field === 'icons' ? '50px' : 'auto'}"
                                            class="top-backround absolute bottom-0 left-0" [src]=item.img>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </ng-template>
                </div>

                <div class="flex justify-end">
                    <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                        Back
                    </button>
                    <button class="px-8" mat-flat-button [color]="'primary'"
                        [disabled]="horizontalStepperStep2.stepControl.invalid"
                        type="button" matStepperNext>
                        Next
                    </button>
                </div>
            </mat-step>

            <mat-step *ngIf="!this.onSelectedWallet?.walletId" [formGroupName]="'step3'" [stepControl]="createWalletForm.get('step3')">
                <ng-template matStepLabel>Assets</ng-template>
                <!-- <p class="my-6 font-medium">
                    Choose your favourite colours and patterns
                </p> -->
                <p class="my-6 font-medium">
                    Select assets to add in this wallet
                </p>
                <div formArrayName="assets" class="flex flex-col w-full cursor-pointer">
                    <ng-container *ngFor="let asset of (assets$ | async); let i=index">
                        <mat-slide-toggle class="flex h-full m-8" [color]="'primary'" [formControlName]="i"
                            labelPosition="before" #assets>
                            <div class="flex items-center">
                                <div>
                                    <img style="width: 50px;" [src]="asset.coinImage" alt="">
                                </div>
                                <div class="flex flex-col w-80 pl-5">
                                    <div>{{asset.coinFullName}}</div>
                                    <div class="text-md text-secondary">{{asset.coinName}}</div>
                                </div>
                            </div>
                        </mat-slide-toggle>
                    </ng-container>
                </div>
                <div class="flex justify-end mt-8">
                    <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                        Back
                    </button>
                    <button class="px-8" mat-flat-button [color]="'primary'" type="button" matStepperNext>
                        Next
                    </button>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p class="my-6 font-medium">
                    Your customised wallet is ready!
                </p>
                <div class="flex justify-end mt-8">
                    <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                        Back
                    </button>
                    <button class="px-8 mr-2" mat-flat-button [color]="'primary'" type="reset" (click)="reset()">
                        Reset
                    </button>
                    <button class="px-8" mat-flat-button [color]="'primary'" type="button" (click)="onSubmit()">
                        {{!!onSelectedWallet?.walletId ? 'Update' : 'Create'}} Wallet
                    </button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </form>
</div>
