<div class="flex flex-col max-w-280 md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div  class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">{{walletName}}</div>
        <button
            mat-icon-button
            (click)="close()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <div *ngIf="walletName !== ''" class="flex-auto px-6 pt-9 pb-12 md:p-8 md:pb-12 lg:p-12">
        <div class="mat-table-container">

            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Type </th>
                    <td mat-cell *matCellDef="let element"><img [src]="element.coinImage" [alt]="element.coinImage"/>  </td>
                  </ng-container>

                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef> Amount </th>
                  <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                </ng-container>
            
                <ng-container matColumnDef="fromWallet">
                  <th mat-header-cell *matHeaderCellDef> From wallet </th>
                  <td mat-cell *matCellDef="let element"> {{element.fromWalletAddress}} </td>
                </ng-container>
            
                <ng-container matColumnDef="toWallet">
                  <th mat-header-cell *matHeaderCellDef> To wallet </th>
                  <td mat-cell *matCellDef="let element"> {{element.toWalletAddress}} </td>
                </ng-container>

                <ng-container matColumnDef="transactionId">
                    <th mat-header-cell *matHeaderCellDef> Transaction id </th>
                    <td mat-cell *matCellDef="let element"> {{element.transactionId}} </td>
                  </ng-container>

                  <ng-container matColumnDef="ordertype">
                    <th mat-header-cell *matHeaderCellDef> Order type </th>
                    <td mat-cell *matCellDef="let element"> {{element.orderType}} </td>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                  </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                             showFirstLastButtons
                             aria-label="Select page of periodic elements">
              </mat-paginator>

              <div class="flex items-center mt-4 sm:mt-0">
                <!-- Discard -->
                <button
                    class="ml-auto sm:ml-0"
                    mat-stroked-button
                    (click)="close()">
                    Close
                </button>
            </div>
          </div>
        
          
    </div>
   
</div>




