<div class="w-full max-w-3xl">

    <!-- Form -->
    <form [formGroup]="accountForm">

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Manage Connections</div>
            <div class="text-secondary">Following information is publicly displayed, be careful!</div>
        </div>
        <div class="grid sm:grid-cols-1 gap-6 w-full mt-8">
            <fuse-card class="flex flex-col mb-8 w-full p-8">
                
                <div class="flex flex-col">
                    <div class="flex items-center">
                        <span class="leading-none font-lable">Connection Id :</span>
                        <span class="leading-none">Country Specific Details :</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <span class="leading-none font-lable">User Id :</span>
                        <span class="leading-none">Account nimber :</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <span class="leading-none font-lable">TPP Name :</span>
                        <span class="leading-none">Type :</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <span class="leading-none font-lable">Connection Granted Date :</span>
                        <span class="leading-none">Type :</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <span class="leading-none font-lable">Expiry Date :</span>
                        <span class="leading-none">Type :</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <span class="leading-none font-lable">Connection Revoked Date :</span>
                        <span class="leading-none">Type :</span>
                    </div>
                    <!-- Form -->
                    <form [formGroup]="notificationsForm">
                        <div class="grid grid-cols-1 gap-6 w-full mt-8">
                            <!-- Meetups -->
                            <div class="flex items-center justify-between">
                                <div class="flex items-center mt-4">
                                    <span class="leading-none font-lable">Show Permissions :</span>
                                </div>
                                <mat-slide-toggle
                                    class="ml-2"
                                    [color]="'primary'"
                                    [formControlName]="'meetups'"
                                    #meetupsToggle>
                                </mat-slide-toggle>
                            </div>
                        </div>
                    </form>
                </div>
            </fuse-card>
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>
    </form>

</div>
